In [3]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [4]:
engine = create_engine('sqlite:///latihan2.db', echo=True)
Base = declarative_base()

In [5]:
class Building(Base):
    __tablename__ = 'buildings'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    description = Column(String)
    rooms = relationship("Room", back_populates="building")
    
    def __repr__(self):
        return f'<Building(id={self.id}, name={self.name}, description={self.description})>'

class Room(Base):
    __tablename__ = 'rooms'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    area = Column(Float)
    building_id = Column(Integer, ForeignKey('buildings.id'))
    
    building = relationship("Building", back_populates="rooms")
    
    def __repr__(self):
        return f'<Room(id={self.id}, name={self.name}, description={self.area})>'

In [6]:
# Create database with all of its tables
Base.metadata.create_all(engine)

2019-01-29 21:13:11,189 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-29 21:13:11,190 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,192 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-29 21:13:11,193 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,195 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("buildings")
2019-01-29 21:13:11,198 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,201 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("rooms")
2019-01-29 21:13:11,202 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,206 INFO sqlalchemy.engine.base.Engine
CREATE TABLE buildings (
	id INTEGER NOT NULL,
	name VARCHAR,
	description VARCHAR,
	PRIMARY KEY (id)
)


2019-01-29 21:13:11,207 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,559 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-29 21:13:11,560 INFO sqlalchemy.engine.base.Engine
CREATE TABLE rooms (
	id INTEGER NOT NULL,
	name VARCHAR,
	area FLOAT,
	building_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(building_id) REFERENCES buildings (id)
)


2019-01-29 21:13:11,561 INFO sqlalchemy.engine.base.Engine ()
2019-01-29 21:13:11,782 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
Session = sessionmaker(bind=engine)
session = Session()

In [8]:
b1 = Building()
b1.name = "ITEC"

session.add(b1)
session.commit()

2019-01-29 21:13:34,898 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-29 21:13:34,900 INFO sqlalchemy.engine.base.Engine INSERT INTO buildings (name, description) VALUES (?, ?)
2019-01-29 21:13:34,902 INFO sqlalchemy.engine.base.Engine ('ITEC', None)
2019-01-29 21:13:34,904 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
r1 = Room()
r1.name = 'Instagram'
r1.area = 10.0
r1.building = b1

session.add(r1)
session.commit()

2019-01-29 21:13:54,530 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-29 21:13:54,533 INFO sqlalchemy.engine.base.Engine SELECT buildings.id AS buildings_id, buildings.name AS buildings_name, buildings.description AS buildings_description
FROM buildings
WHERE buildings.id = ?
2019-01-29 21:13:54,535 INFO sqlalchemy.engine.base.Engine (1,)
2019-01-29 21:13:54,538 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (name, area, building_id) VALUES (?, ?, ?)
2019-01-29 21:13:54,540 INFO sqlalchemy.engine.base.Engine ('Instagram', 10.0, 1)
2019-01-29 21:13:54,546 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
b10 = session.query(Building).filter_by(id=1).first()
r3 = Room()
r3.name = 'Google'
r3.area = 12
r3.building = b10

session.add(r3)
session.commit()

2019-01-29 21:14:06,342 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-29 21:14:06,344 INFO sqlalchemy.engine.base.Engine SELECT buildings.id AS buildings_id, buildings.name AS buildings_name, buildings.description AS buildings_description
FROM buildings
WHERE buildings.id = ?
 LIMIT ? OFFSET ?
2019-01-29 21:14:06,345 INFO sqlalchemy.engine.base.Engine (1, 1, 0)
2019-01-29 21:14:06,349 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (name, area, building_id) VALUES (?, ?, ?)
2019-01-29 21:14:06,351 INFO sqlalchemy.engine.base.Engine ('Google', 12.0, 1)
2019-01-29 21:14:06,389 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
b12 = Building()
b12.name = "Epicentrum"

r4 = Room()
r4.name = "WinsArchery"
r4.area = 20
r4.building = b12

session.add(b12)
session.add(r4)
session.commit()

2019-01-29 21:14:17,854 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-29 21:14:17,857 INFO sqlalchemy.engine.base.Engine INSERT INTO buildings (name, description) VALUES (?, ?)
2019-01-29 21:14:17,858 INFO sqlalchemy.engine.base.Engine ('Epicentrum', None)
2019-01-29 21:14:17,862 INFO sqlalchemy.engine.base.Engine INSERT INTO rooms (name, area, building_id) VALUES (?, ?, ?)
2019-01-29 21:14:17,864 INFO sqlalchemy.engine.base.Engine ('WinsArchery', 20.0, 2)
2019-01-29 21:14:17,867 INFO sqlalchemy.engine.base.Engine COMMIT